


h1 {
  font-size: 200px;
  font-family: Verdana;
}

h2 {
  font-size: 60px;
  font-family: Verdana;
  color: white;
}


h3 {
  font-size: 30px;
  font-family: Verdana;
  color: white;
}


body {
  background: url("404-background-img.png") no-repeat;
  background-size: 100% 100vh;
}

.button {
  
  font-family: Verdana;
  color: white;
  font-weight: bold;
  background-color: #EE7290;
  border: 8px solid white;
  border-radius: 50px;
  padding: 1px 40px;
  text-align: center;
  display: inline-block;
  font-size: 25px;