@font-face {
  font-family: Nikk;
  src: url(NikkyouSans-B6aV.ttf);
}

@font-face {
  font-family: basis;
  src: url(basis33.regular.ttf);
}

body {
  background-color: #161D23;
}

h1 {
  color: #9F3434;
  text-align: center;
  font-family: Nikk;
  font-size: 100px;
}

h2 {
  color: #DDE1E4;
  text-align: center;
  font-family: basis;
  font-size: 50px;
}

#gif {
}

#Insta {
  text-align: center;
}

.Insta button {
  font-family: Nikk;
  color: #DDE1E4;
  margin: 20px;
  font-weight: Bold;
  width: 300px;
  height: 80px;
  background-color: #161D23;
  border: 8px solid #DDE1E4;
  border-radius: 20px;
  padding: 10px 40px;
  display: inline-block;
  font-size: 25px;
}

#Insta :hover {
  color: #9F3434;
}

#Portfolio {
  text-align: center;
}

.Portfolio button {
  font-family: Nikk;
  color: #DDE1E4;
  margin: 20px;
  width: 300px;
  height: 80px;
  font-weight: bold;
  background-color: #161D23;
  border: 8px solid #DDE1E4;
  border-radius: 20px;
  padding: 10px 40px;
  display: inline-block;
  font-size: 25px;
}

#Portfolio :hover {
  color: #9F3434;
}

#NFP {
  text-align: center;
}

.NFP button {
  font-family: Nikk;
  color: #DDE1E4;
  margin: 20px;
  font-weight: bold;
  width: 300px;
  height: 80px;
  background-color: #161D23;
  border: 8px solid #DDE1E4;
  border-radius: 20px;
  padding: 10px 40px;
  display: inline-block;
  font-size: 25px;
}

#NFP :hover {
  color: #9F3434;
}

p {
  margin-top: 80px;
  font-family: Verdana;
  color: #8DA8BD;
  font-size: 10px;
}
